name: Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch: {}

env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/actions/pnpm-setup
      - name: Install dependencies
        run: pnpm install

      - name: Set publishing config
        run: pnpm config set '//registry.npmjs.org/:_authToken' "${NODE_AUTH_TOKEN}"
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - run: pnpm run --filter ember-cookies release
